.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(5rem - (8.9rem / 2 - 3rem) - 1rem);
  padding-bottom: calc(5rem - (8.9rem / 2 - 3rem));
}

.content {
  max-width: 75.4rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.sidebar {
  width: 30.7692%;
}

.main {
  width: 66.578%;
}

@media(max-width: 671px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}