.filter {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &__checkbox {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;

    &:checked + span::before {
      transform: scale(1);
    }

    &:focus {
      outline: none;

      & + span {
        box-shadow: 0px 0px 2px 2px rgba(25, 116, 191, 0.2);
      }
    }
  }

  &__custom-checkbox {
    display: block;
    width: 2rem;
    height: 2rem;
    border: solid 0.1rem #2196f3;
    border-radius: 0.2rem;
    transition: all 200ms ease-in;

    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      display: block;
      background-image: url('./mark.svg');
      background-repeat: no-repeat;
      transform: scale(0);
      transition: all 200ms ease-in;
    }
  }

  &__text {
    font-size: 1.3rem;
  }
}

@media (max-width: 671px) {
  .filter {
    padding: 1rem;

    &__text {
      white-space: nowrap;
    }
  }
}
