.filters {
  border-radius: 0.5rem;
  padding: 2rem 0;
  background-color: #fff;
  max-width: 23.2rem;
  margin-bottom: 20px;

  &__header {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  &__item {
    transition: all 300ms;

    &:hover {
      background-color: #f1fcff;
    }
  }
}

@media (max-width: 671px) {
  .filters {
    max-width: 50.2rem;
    margin: 0 auto;
    padding: 0.5rem;

    &__header {
      display: none;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 480px) {
  .filters__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
